.lang__link {
  color: white;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

.lang__link:nth-child(n+2) {
  margin-left: 18px;
}

@media screen and (max-width: 320px) {
  .lang__link {
    font-size: 18px;
    line-height: 1.11;
  }
}
