.intro__text {
  margin: 40px 0 33px;
  max-width: 690px;
  min-height: 208px;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) and (min-width: 425px){
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    margin: 40px auto 34px;
    width: 288px;
  }
}
