.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  max-height: 740px;
  background-image: url("../../sprint-3-images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 0 auto 64px;
  }
}
